.carousel {
    width: 1200px;
    margin: 0 auto;
    background: #efefef;

    @media (min-width: 948px) and (max-width: 1235px) {
        max-width: 910px;
    }

    @media (max-width: 947px) {
        width: 100%;
    }
}
