.title--mobile {
    padding: 5px 0;
    background-color: #999;
    color: black;
    text-align: center;
    font-size: 25px;
}

.bd-example {
    position: relative;
    padding: 1rem;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
    text-align: center;
}

.bd-example p {
    color: #818181;
}

.bd-example input,
.bd-example select {
    color: #818181;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bd-example select {
    height: calc(2.25rem + 2px);
}

.bd-example option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.btn-fb {
    margin-bottom: 10px;
}
